#explanation {
  margin: 40px !important;
}

h1,h2 {
  font-weight: bold;
}

h2 {
  margin-top: 40px !important;
}

body {
  font-size: 16px;
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.img-fluid {
  width: 100%;
  margin-bottom: 20px;
}
